/* .same-horizontal {
    float: left;
}

.authscheme-card {
    background-color: lavender;
    padding-bottom: 10px;
}

.authscheme-card.title-section {
    width: 90%;
    text-align: center;
}

.authscheme-signup {
    background-color: #EC0100;
    color: #ffffff;
}

.reset-password {
    text-align: center;
}

.title-info {
    font-size: 20px;
}

.title-section {
    width: 80%;
    text-align: center;
}

.same-horizontal img {
    height: 30px;
    margin: 10px;
} */
