body {
  // old bg background: #192126;
  background: #161c21;
  font-family: "proxima_nova" #{"/*rtl:Tajawal*/"};
}

h1,
h2 {
  font-size: 40px;
}

P {
  a {
    font-size: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    &:hover {
      text-decoration: underline;
      color: #ec0100;
    }
  }
}

.site-wrap {
  margin: 0;

  .site-header + div {
    margin-top: 90px;
  }
}
