.spotlight {
    position: relative;
    min-height: 900px;
    @media (max-width: 1024px) {
        min-height: 100vh;
    }
    @media (max-width: 768px) {
        min-height: auto;
    }
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin-top: 0;
        z-index: 1;
        @media (max-width: 768px) {
            position: static;
            transform: translate(0,0);
            margin-top: 85px;
        }

        .small-title {
            color: rgb(236, 1, 0);
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
        }

        .lead-heading {
            text-align: center;
            display: flex;
            flex-direction: column;
            color: #fff;
            font-size: 70px;
            @media (max-width: 1024px) {
                font-size: 50px;
                line-height:60px;
            }
            font-weight: 600;
            letter-spacing: -0.6px;
            line-height: 90px;
            text-align: center;
            margin: 30px 0;
            @media (max-width: 768px) {
                font-size: 40px;
                line-height: 50px;
                margin-top: 25px;
                margin-bottom: 23px;
            }
            span {
            }
        }

        .o-btn-medium-red {
            width: auto;
            text-transform: none;
            margin-top: 8px;
        }
    }

    &__tr-circle {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        width: 520px;
        height: 520px;
        background-color:transparent;
        border: solid 90px #192025;
        border-radius:100%;
        box-shadow: 0 0 150px #161b1d;
        @media (max-width: 1024px) {
            width: 320px;   
            height: 320px; 
        }
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__lb-circle {
        position: absolute;
        bottom: 0px;
        left: -136px;
        width: 643px;
        height: 643px;
        background: #192025;
        box-shadow: 0 0 150px #161b1d; 
        border-radius: 100%;  
        @media (max-width: 1024px) {
            width: 416px;
            height: 416px;
            left: -80px;
        }
        @media (max-width: 768px) {
            position: static;
            width: 416px;
            height: 416px;
            margin-left: -50px;
            margin-top: 20px;
        }     
    }

    &__lb-Illustration {
        position: absolute;
        bottom: 0;
        left: 0;
        @media (max-width: 1024px) {
            max-width: 356px;
            img{
                max-width: 100%;
            }
        }
        @media (max-width: 768px) {
            bottom: auto;
            top: 107px;
            max-width: 356px;
            img{
                max-width: 100%;
            }
        }
    }

    &__tr-Illustration {
        position: absolute;
        top: 167px;
        right: 97px;
        margin: 0;
        img{
            width: 100%;
        }
        @media (max-width: 1024px) {
            max-width: 220px;
        }
        @media (max-width: 768px) {
            display: none;  
            }
    }
}
