.spotlight {
    position  : relative;
    min-height: 100vh;

    &__caption {
        position  : absolute;
        top       : 50%;
        left      : 50%;
        transform : translate(-50%, -50%);
        text-align: center;

        .small-title {
            color         : rgb(236, 1, 0);
            font-size     : 13px;
            font-weight   : 500;
            letter-spacing: 1px;
            line-height   : 20px;
            text-align    : center;
            text-transform: uppercase;
            margin        : 0;

        }

        .lead-heading {
            text-align    : center;
            display       : flex;
            flex-direction: column;
            color         : #FFF;
            font-size     : 70px;
            font-weight   : 600;
            letter-spacing: -0.6px;
            line-height   : 90px;
            text-align    : center;
            margin        : 30px 0;


            span {}
        }

        .o-btn-medium-red {
            max-width: fit-content;

        }
    }

    &__tr-circle {
        position: absolute;
        top     : 0;
        right   : 0;
    }

    &__lb-circle {
        position: absolute;
        bottom  : -203px;
        left    : 0;
    }

    &__lb-Illustration {
        position: absolute;
        bottom  : 0;
        left    : 0;
    }

    &__tr-Illustration {
        position: absolute;
        top     : 167px;
        right   : 97px;
    }
}


.features {
    padding-top: 30px;
}

.partner-ship {
    position   : relative;
    color      : #FFF;
    padding-top: 124px;

    h4 {
        margin: 0px 0px 18px;
    }

    p {
        color        : rgb(255, 255, 255);
        font-size    : 19px;
        font-weight  : normal;
        line-height  : 30px;
        margin-bottom: 34px;
    }

    &__text-wrapper {
        max-width: 830px;
        margin   : 0 auto;
        display  : flex;

        .col {
            padding-left : 36px;
            padding-right: 36px;
            width        : 100%;
        }
    }

    &__circle {
        position : absolute;
        left     : 50%;
        top      : 0;
        transform: translateX(-50%);
        z-index  : -1;


    }

}

.work-togeather {
    color         : #FFF;
    text-align    : left;
    position      : relative;
    padding-top   : 162px;
    padding-bottom: 128px;
    margin-top    : 66px;

    p {
        text-align : left;
        color      : rgb(255, 255, 255);
        font-size  : 19px;
        font-weight: normal;
        line-height: 30px;

        &.page-title-small {
            color      : #ec0100;
            font-size  : 13px;
            font-weight: 500;
        }
    }

    h3 {
        font-weight   : normal;
        letter-spacing: -0.3px;
        line-height   : 50px;
        font-size     : 40px;

        strong {
            font-weight: 500;
        }
    }

    .o-btn-medium-red {
        width     : auto;
        margin-top: 50px;
    }

    &__text-wrap {
        max-width: 500px;
    }


    &__circle {
        position: absolute;
        right   : 60px;
        top     : 0;
    }

    &__illustration {
        position: absolute;
        right   : 0;
        top     : 58px;
    }
}


.be-part {
    position: relative;

    &__circle {
        top     : -60px;
        position: absolute;
        left    : 21%;
    }

    margin-top: 125px;
    color     : #FFF;

    .partners {
        width   : 50%;
        margin  : 0 auto;
        position: relative;

        .tab-buttons {
            display        : inline-block;
            width          : 100%;
            display        : flex;
            align-items    : center;
            justify-content: center;

            >span {
                display       : block;
                float         : left;
                cursor        : pointer;
                color         : #fff;
                font-size     : 13px;
                padding       : 16px 40px;
                border-bottom : 4px solid transparent;
                font-size     : 13px;
                font-weight   : 500;
                letter-spacing: 1px;
                line-height   : 20px;
                text-align    : center;
                text-transform: uppercase;

                &.active {
                    color              : #ddd;
                    position           : relative;
                    border-bottom-color: #ff0000;
                }
            }
        }

        .tab-content {
            position  : relative;
            height    : 600px;
            margin-top: 80px;

            >div {
                position: absolute;
            }
        }

        .partner {
            max-width: 670px;
            margin   : 0 auto;

            &__title {
                color         : #44494d;
                font-size     : 35px;
                font-weight   : 500;
                letter-spacing: -0.26px;
                line-height   : 50px;
                margin-top    : 33px;
            }

            &__des {
                color        : #FFF;
                font-size    : 19px;
                font-weight  : normal;
                line-height  : 30px;
                margin-top   : 37px;
                margin-bottom: 30px;
                opacity      : 0;
            }

            &__link {
                color         : rgb(236, 1, 0);
                font-size     : 15px;
                font-weight   : 500;
                letter-spacing: 0.2px;
                line-height   : 25px;
                text-transform: none;
                position      : relative;
                opacity       : 0;

                &::after {
                    content         : url();
                    width           : 7px;
                    height          : 7px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 490.8 490.8' style='enable-background:new 0 0 490.8 490.8;fill: %23ec0100;' xml:space='preserve'%3E%3Cpath style='fill:%23F44336;' d='M135.685,3.128c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82 l227.115,227.136L120.581,472.461c-4.237,4.093-4.354,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262 c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.685,3.128z'/%3E%3Cpath d='M128.133,490.68c-5.891,0.011-10.675-4.757-10.686-10.648c-0.005-2.84,1.123-5.565,3.134-7.571l227.136-227.115 L120.581,18.232c-4.171-4.171-4.171-10.933,0-15.104c4.171-4.171,10.933-4.171,15.104,0l234.667,234.667 c4.164,4.165,4.164,10.917,0,15.083L135.685,487.544C133.685,489.551,130.967,490.68,128.133,490.68z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
                    position        : absolute;
                    right           : -17px;
                    top             : 7px;
                    background-size : 7px;

                }
            }
        }

        .activetab {
            .partner {
                &__title {
                    color: #FFF;
                }

                &__des {
                    opacity: 1;
                }

                &__link {
                    opacity: 1;
                }
            }
        }

    }


}


.creative {
    padding : 104px 0;
    position: relative;

    &__circle {
        position: absolute;
        left    : 0;
        top     : -63px;
    }

    &__img {
        position: absolute;
        left    : 53px;
        top     : 88px;
    }

    &__text-wrap {
        max-width  : 535px;
        margin-left: auto;
        color      : #FFF;

        .page-title-small {
            text-align: left;
            color     : #ec0100;
        }

        .o-btn-medium-red {
            width: auto;
        }

        h3 {
            font-weight   : normal;
            letter-spacing: -0.3px;
            line-height   : 50px;
            font-size     : 40px;

            strong {
                font-weight: 500;
            }
        }
    }
}

.testimonials {
    position     : relative;
    padding-left : 96px;
    margin-top   : 158px;
    margin-bottom: 50px;
    color        : #FFF;

    .o-tabs--wrap {
        display    : flex;
        width      : 100%;
        position   : relative;
        align-items: center;

        .art-image {
            width: 30%;
        }

        .o-tabs__tab-content {
            width: 70%;
        }
    }

    .tabs-title {
        font-size: 50px;
    }

    .testimonials-slider,
    .testimonials-slider-1 {
        width: 100%;
    }

    .swiper-slide {
        height    : auto;
        padding   : 60px 0;
        transition: padding .5s ease-in-out;

        &.swiper-slide-active {
            padding: 0;

            .testimonials__item {
                padding-top   : 80px;
                padding-bottom: 80px;
            }
        }

        .testimonials__item {
            background        : #192126;
            padding           : 46px;
            border-radius     : 35px;
            box-shadow        : -16px 22px 31px 13px rgba(11, 11, 11, 0.09);
            height            : 100%;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition   : all .5s ease-in-out;
            -o-transition     : all .5s ease-in-out;
            transition        : all .5s ease-in-out;

            p {
                color        : rgb(255, 255, 255);
                font-size    : 19px;
                font-weight  : normal;
                line-height  : 30px;
                margin-bottom: 60px;
            }
        }
    }

    .testi-button-wrap {
        position: absolute;
        left    : -280px;
        top     : 85px;
        display : flex;

        .buttons {
            font-size    : 16px;
            line-height  : 0;
            padding      : 10px;
            border-radius: 50px;
            color        : rgba(39, 50, 57, .7);
            border       : 1px solid rgba(39, 50, 57, .2);
            transition   : all 400ms cubic-bezier(.19, 1, .22, 1);
            color        : #fff;
            border-color : #fff;
            margin-left  : 9px;
            margin-right : 9px;

            &:hover {
                padding      : 10px 20px !important;
                border-radius: 30px;
                border       : 1px solid #ec0100;
                color        : #ec0100;
            }

            &.testi-swiper-button-prev {
                &::before {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__circle {
        position: absolute;
        right   : 0;
        top     : 60px;
    }
}