.site-header {
  div {
    margin-top: 0;
  }
}

.site-header--modifed {
  .o-site-logo {
    width: 420px;
    &__text{
      &.mobile-screens{
        display: none; 
      }
      .text path{
        fill: #FFF;
      }
    }
    @media (max-width: 767px) {
      
      &__text {
        width:68%;
        &.large-screen{
          display: none;
        }
        &.mobile-screens{
          display: inline-block;
        }


        svg {
          width: 100%;
        }
      }

      width:140px;
    }

    &__icon {
      width: 9%;

      @media (max-width: 767px) {
        width: 27%;
      }

      svg {
        height: 42px;

        @media (max-width: 767px) {
          height: auto;
        }
      }
    }
  }

  &.is-sticky {
    .o-site-logo {
      width:415px !important;
      height: auto !important;

      @media (max-width: 767px) {
        width: 100px !important;
      }

      &__text {
        // width: 50%;
      }

      &__icon {
        
       // svg {
        //   height: 27px;
        // }
      }
    }
  }

}




.site-header.site-header--modifed {
  background:transparent;
  &:hover{
    background-color:  #273239;
  }

  &.is-sticky {
    border-bottom: solid 1px #273239 !important;
    background-color:  #273239;
  }

}

.site-header.site-header--modifed.t-premium__header {
  background-color: rgba(255, 255, 255, 0);
}

.site-header {
  a.c-quick-links__link.lang-switch{
    text-transform: capitalize;
  }
  a.o-btn,
  a.c-quick-links__link.lang-switch,
  .menu-bar {
    color: #fff;
  }

  .o-close-button__icon {
    color: #000;
    font-size: 22px;
  }

  .o-menu-button__icon span {
    background-color: #fff;
  }

  .o-menu-button__icon:after {
    background: #ddd;
    opacity   : 0.3;
  }

  .c-quick-login {
    a {
      &.o-btn {
        overflow: hidden;

        &:hover {
          &:after {
            width : 100%;
            height: 200px;
          }
        }
      }
    }
  }

  // &.is-sticky .site-header__content .o-site-logo {
  //   width: 200px;
  // }

  .top-main-header {
    margin-top: 0;
  }
}

.site-header--modifed .c-quick-login .o-btn {
  min-width   : 130px;
  border-color: rgba(197, 197, 197, 0.2);
  @media (min-width: 1023px) {
    min-width: 182px;
  }
}



.site-header--modifed .site-header__content .o-site-logo img {
  width: 100%;

  @media (max-width: 767px) {
    width: 200px;
  }
}


.site-footer {
  @media (max-width: 767px) {
    margin-top: 20px;
  }

  .c-footer {
    &__nav {
      .nav-lvl01 {
        &__item {
          .nav-lvl02 {
            &__link {
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

.site-footer--modifed.t-dark-footer div {
  margin-top: 0;
  .site-footer__menu-list{
    li{
      a{
        letter-spacing: 0.3px;
      }
    }
  }
}

@media (min-width: 767px) {
  .site-footer__menu-list li {
    padding-bottom: 0;
  }
}

.site-footer--modifed.t-dark-footer a {
  text-transform: none;
  &.language-links__link {
    position : relative;
    top      : -20px;
    font-size: 16px;
    @media (max-width: 768px) {
      top: 0; 
    }
  }
}

.site-footer--modifed.t-dark-footer .nav-lvl01__link {
  text-transform: uppercase;
}

@media (min-width: 992px) {

  .site-header--modifed.t-premium__header .o-menu-button.-right-border,
  .site-header--modifed .o-menu-button.-right-border {
    border       : none;
    margin-bottom: 20px;
  }

  .site-header--modifed.site-header.is-sticky .o-menu-button.-right-border {
    border       : none;
    margin-bottom: 0;
  }

  .site-footer--modifed {
    margin-top: 190px;

    &.no-space {
      margin-top: 0;
    }

    &.top-100 {
      margin-top: 100px;
    }
  }



  .site-footer--modifed .c-footer {
    background: url(../../images/footer-bg-img.png) right 96px bottom -1px no-repeat;
  }

  .site-footer--modifed.t-dark-footer .c-footer__nav {
    background-color: transparent;
  }


  .c-main-nav__content .col-md-25 {
    width: 50%;
  }

  .c-main-nav__content .col-md-23 {
    width: 45%;
  }

}

@media (max-width: 768px) {
  .site-footer--modifed .c-footer {
    &::after {
      content            : '';
      display            : inline-block;
      width              : 100%;
      height             : 100px;
      background         : url(../../images/footer-bg-img.png);
      background-size    : 100%;
      background-repeat  : no-repeat;
      margin-top         : 33px;
      background-position: top center;
    }

  }
}

.site-footer--modifed {
  &.no-space {
    margin-top: 0;
  }  

  &.top-100 {
    margin-top: 100px;

    @media (max-width: 767px) {
      margin-top: 0px;
    }
  }
}


@media (max-width: 767px) {
  .site-header--modifed .c-quick-login {
    margin: 0;
  }

  .site-header--modifed .c-quick-login .o-btn {
    border   : none;
    padding  : 0;  
    min-width: auto;
  }
}

.c-main-nav {

  .nav-lvl{
    &__item{
      a{
        letter-spacing: 0;
        @media (max-width: 768px) {
        font-size: 32px; 
        }
        

        @media screen and (min-width: 1024px){
          font-size: 54px;
        }

        @media screen and (min-width: 1366px){
          font-size: 60px;
        }

      }
      &.active-main{
        a{
          line-height: 70px;
          span{
            color: #273239;
          }
        }
      }
    }
  }
  .nav-lvl01{
    &__link{
      font-size: 19px;
    letter-spacing: 0;
    font-weight: 600;
    }
  }
  a {
    text-transform: initial !important;
    // font-size     : inherit !important;
    &.nav-footer-item{
      letter-spacing: normal;
    } 
  }
}

.o-switch-button__backtext a{
  letter-spacing: normal;
}

.site-header--modifed .c-quick-login .o-btn {
  text-transform: capitalize;
}

.site-footer {
  .o-site-logo {
    img {
      width: 100%;
    }
  }

  .c-footer {
    .c-footer-brand {
      @media (min-width: 1024px) {
        min-width: 375px;
      }

      flex-direction: row !important;
      align-items   : center !important;
      margin-bottom : 12px !important;

      @media (max-width: 767px) {
        flex-direction: column !important;
        align-items   : flex-start !important;
      }

      &__logo {
        margin-right: 10px !important;
        max-width    : 180px;
        @media (max-width: 767px) {   
         
          margin-bottom: 20px;
        }
      }

      &__social {
        margin-top: 130px;

        &__icon {
          @media (min-width: 1024px) {
            margin-right: 15px;
          }
        }

        @media (max-width: 768px) {
          margin-top: 0;
        }

      }
    }

  }
}

@media (max-width:991px) {
  .c-main-nav .nav-footer__languages .language-links__link span {
      margin: 0;
  }
}






