<!DOCTYPE html>
<html lang="{{language}}">

<head>
    {{> head }}
</head>

<body>
    <div class="site-wrap">
        {{> header }}
        {{> body }}
        {{> footer }}
    </div>  
    {{> scripts }}
</body>

</html>