<!DOCTYPE html>
<html lang="{{language}}">

<head>
    {{> head }}
</head>

<body class="
{{language}}
{{#if hasGradeint}}
has-gradient-bg layoutwithoutfooter
{{/if}}
">

    {{> body }}
    {{> scripts }}

</body>

</html>