/* .head {
    background-image: url("CA_APIM.jpg");
    background-size: cover;
}

.data {
    margin: 5%;
}

.btn-group {
    margin: 0 5%;
}

.btn-group button {
    float: left;
    // Float the buttons side by side 
    margin: 20px 50px;
} */
