<section class="features features--counter-2">

  <div class="container">
    <div id="item1" class="c-product-feature__list horizontal-scroll--list">
      <div class="c-product-feature__item">
        <!-- start personal-card component -->
        <div class="c-feature-card">
          <div class="c-feature-card__promotional-value">
            One
          </div>
          <div class="c-feature-card__details">
            <p class="c-feature-card__summary ">
              of the largest banks in the UAE
            </p>
          </div>
        </div>
        <!-- end personal-card component -->
      </div>
      <div class="c-product-feature__item">
        <!-- start personal-card component -->

        <div class="c-feature-card">
          <div class="c-feature-card__promotional-value">
            <span class="-left">Over</span> 1M
          </div>
          <div class="c-feature-card__details">
            <p class="c-feature-card__summary ">
              Customers
            </p>
          </div>
        </div>
        <!-- end personal-card component -->
      </div>
      <div class="c-product-feature__item">
        <!-- start personal-card component -->
        <div class="c-feature-card">
          <div class="c-feature-card__promotional-value">

            500+
          </div>
          <div class="c-feature-card__details">
            <p class="c-feature-card__summary ">

              Merchant tie-ups
            </p>
          </div>
        </div>
        <!-- end personal-card component -->
      </div>
      <div class="c-product-feature__item">
        <!-- start personal-card component -->
        <div class="c-feature-card">
          <div class="c-feature-card__promotional-value">
            170M
          </div>
          <div class="c-feature-card__details">
            <p class="c-feature-card__summary ">
              Reward points awarded annually
            </p>
          </div>
        </div>
        <!-- end personal-card component -->
      </div>
      <div class="c-product-feature__item">
        <!-- start personal-card component -->
        <div class="c-feature-card">
          <div class="c-feature-card__promotional-value">
            <span class="-left">Over</span> 320K
          </div>
          <div class="c-feature-card__details">
            <p class="c-feature-card__summary ">

              opened Virtual Accounts
            </p>
          </div>
        </div>
        <!-- end personal-card component -->
      </div>
    </div>
  </div>


</section>