---
title_en: NEW PASSWORD SUCCESS
title_ar: NEW PASSWORD SUCCESS
hasPage: false
space-top-100: true
noBreadCrumbs: true
---


<div class="container container--small">
    <div class="c-thank-you__wrap unsubscribe">
        <div class="c-thank-you__icon"></div>
        <h2 class="c-thank-you__title"> {{#is language "en"}}
            Success
            {{else}}
            تمت العملية بنجاح
            {{/is}}</h2>
        <p class="c-thank-you__desc">
            {{#is language "en"}}
            Your new password for API Marketplace has been updated
            {{else}}
            تم تحديث كلمة المرور الجديدة الخاصة بسوق واجهات برمجة التطبيقات API؟
            {{/is}}
        </p>
        <!-- start o-btn -->
        <div class="btn-footer">

            <a href="https://sandbox.adcb.com/pages/apimarketplace/login.html" class="o-btn-medium-red"> 
            {{#is language "en"}}
                Go to Login
                {{else}}
                الذهاب إلى تسجيل الدخول
                {{/is}}
            </a>


            
        </div>


        <!-- end o-btn -->
    </div>
</div>