---
title_en: New Password
title_ar: New Password
hasPage: true
page_directory: newPassword
jsencrypt: true
noBreadCrumbs: true
---


<div class="container container--small">
    <div class="center">

        <!-- Don't change the below class name. As same is using for fetching the logo from themes.-->
        <p class="page-title-small color-red">NEW PASSWORD</p>
        <h1 id="provider-name">Create New Password</h1>
    </div>
    <p class='help-block form-msg global '>Please follow the guidelines below to create your new password</p>
    <!--Don't change the form id value. As same is using in javascript file for submit the form.-->
    <form id="newpassword-form" method="" class="adcb-forms">
        <div class="form-group">
            <label>New Password</label>
            <!-- Require field. And don't change the value of name field. -->
            <input type="password" name="password" required placeholder="Create new password">
            <div class="help-block">
                <ul id="passwordPolicies" class="help-block">
                    <li>Use a Minimum of 8 characters</li>
                    <li>Use Lower case and Upper case letters</li>
                    <li>Use Numbers and at least one special character from !@#$%^&amp;*-</li> 
                </ul> 
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <!-- Require field. And don't change the value of name field. -->
            <input type="password" name="cnfPassword" placeholder="Confirm new password" required>
        </div>

        <div class="form-group">
            <p class="help-block global error validation">*Form error will come here as a statement</p>
        </div>

        <div class="form-btn-wrapper">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>