---
title_en: Reset Password
title_ar: Reset Password
hasPage: true
page_directory: resetPassword
jsencrypt: false
noBreadCrumbs: true
---


<div class="container container--small">
    <div class="center">

        <!-- Don't change the below class name. As same is using for fetching the logo from themes.-->
        <p class="page-title-small color-red">RESET PASSWORD</p>
        <h1 id="provider-name"> {{#is language "en"}}
            RESET PASSWORD
            {{else}}
            إعادة تعيين كلمة المرور
            {{/is}}</h1>
    </div>
    <p class='help-block form-msg global '>
        {{#is language "en"}}
        Need to reset your API Marketplace password?
        {{else}}
        هل تحتاج إلى إعادة تعيين كلمة مرور سوق واجهات برمجة التطبيقات API؟
        {{/is}}</h1>
    </p>
    <!--Don't change the form id value. As same is using in javascript file for submit the form.-->
    <form id="resetpassword-form" method="GET" class="adcb-forms">
        <div class="form-group">
            <label>Username</label>
            <!-- Require field. And don't change the value of id field. -->
            <input type="text" id="username" placeholder="Enter your username" required>
            <p class="help-block hide"></p>
        </div>
        <div class="form-group">
            <p class="help-block global error validation"> {{#is language "en"}}
                Plea
                se enter your email address and we’ll send you a link to reset your password
                {{else}}
                الرجاء إدخال عنوان بريدك الإلكتروني وسنرسل لك رابطاً لإعادة تعيين كلمة المرور
                {{/is}}</h1>
            </p>
        </div>
        <div class="form-btn-wrapper">
            <button type="submit" class="btn btn-primary btn-x250">Send Link</button>
        </div>

    </form>
</div>