---
title_en: Thanks
title_ar: Thanks
hasPage: false  
space-top-100: true 
noBreadCrumbs: true
---


<div class="container container--small">
    <div class="c-thank-you__wrap unsubscribe">
        <div class="c-thank-you__icon"></div>
        <h2 class="c-thank-you__title">Thank you</h2>
        <p class="c-thank-you__desc">
            You have successfully signed in, please check your email for an activation link.
        </p>
        <!-- start o-btn -->
        <div class="btn-footer">
            <a href="index.html" class="o-btn-medium-red">Go to Homepage</a>
        </div> 
        <!-- end o-btn -->
    </div>
</div>