---
title_en: Subscribe
title_ar: Subscribe
hasPage: false
space-top-100: true
noBreadCrumbs: true
---


<div class="container container--small">
    <div class="c-thank-you__wrap unsubscribe">
        <div class="c-thank-you__icon"></div>
        <h2 class="c-thank-you__title"> {{#is language "en"}}
            Subscription Deleted
            {{else}}
            تم إلغاء الاشتراك
            {{/is}}</h2>
        <p class="c-thank-you__desc">{{#is language "en"}}
            You will no longer receive our Newsletter
            {{else}}
            لن تتلقى رسائلنا الإخبارية بعد الآن
            {{/is}}
        </p>
        <!-- start o-btn -->
        <div class="btn-footer">
            <a href="#" class="o-btn o-btn-transparent"> {{#is language "en"}}
                Go to Homepage
                {{else}}
                العودة إلى الصفحة الرئيسية
                {{/is}}</a>
            <a href="#" class="o-btn-medium-red"> {{#is language "en"}}
                Login now
                {{else}}
                تسجيل الدخول الآن
                {{/is}}</a>
        </div>


        <!-- end o-btn -->
    </div>
</div>