---
title_en: Subscribe
title_ar: Subscribe
hasPage: false
space-top-100: true
noBreadCrumbs: true
---


<div class="container container--small">
  <div class="c-thank-you__wrap unsubscribe">
    <div class="c-thank-you__icon"></div>
    <h2 class="c-thank-you__title">
      {{#is language "en"}}
      Thank you
      {{else}}
      شكراً لك
      {{/is}}
    </h2>
    <p class="c-thank-you__desc"> {{#is language "en"}}
      You have successfully subscribed to the newsletter
      {{else}}
      لقد اشتركت بنجاح في نشرتنا الإخبارية
      {{/is}}</p>
    <!-- start o-btn -->
    <div class="btn-footer">
      
      {{#is language "en"}}
      <a href="https://apimarketplace.adcb.com/en" class="o-btn o-btn-transparent"> 
        Go to Homepage
        </a>
        {{else}}
        <a href="https://apimarketplace.adcb.com/ar" class="o-btn o-btn-transparent"> 
        العودة إلى الصفحة الرئيسية
        </a>
        {{/is}} 
        
      <a href="https://sandbox.adcb.com/pages/apimarketplace/login.html" class="o-btn-medium-red"> {{#is language "en"}}
        Login now
        {{else}}
        تسجيل الدخول الآن
        {{/is}}</a>
    </div>
    <!-- end o-btn -->
  </div>
</div>