---
title_en: Terms & Conditions
title_ar: Terms & Conditions
breadcumb1Has: true
breadcumb1Text: Terms & Conditions
breadcumb1Text-ar: الشروط والأحكام
breadcumb1Link:
breadcumb2Has: false
hasPage: false
---

{{>breadcrumb}}


<div class="container">
    <div class="center" id="ca-logo-name">
        <!-- Don't change the below class name. As same is using for fetching the logo from themes.-->
        <p class="page-title-small color-red">API Marketplace</p>
        <h1 id="provider-name">Terms and Conditions</h1>
    </div>
</div>



<div class="o-comp feature-accordion-group js-acc-group api-page" data-sync="true">
    <div class="o-comp__content container">
        <div class="accordion-item js-acc-item" data-index="0" data-state="expanded">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>
                    1. Terms of the ADCB API Marketplace
                </span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">
                    <p>
                        These terms apply to your access and use of the ADCB application programming interface ("API")
                        Marketplace. In these terms where we use "ADCB", "we", "our" or "us" means the Abu Dhabi
                        Commercial Bank Group of companies with whom you are contracting.
                    </p>
                    <p>
                        In addition to these terms, we have other policies that apply to you when you use the ADCB API
                        Marketplace, including our '<a href="privacy-policy.html">Privacy Notice</a>’ and any additional
                        terms, policies, instructions and standards that may apply to your use of the ADCB API
                        Marketplace (“Terms”).
                    </p>
                    <p>
                        By registering to access the ADCB API Marketplace and by clicking the check box you the person
                        entering these Terms (“you” or “your”) acknowledge that you have read, understood and accepted
                        the Terms and you agree to comply with them.
                    </p>
                    <p>
                        If you are accessing and using the ADCB API Marketplace on behalf of a corporate entity, you
                        represent and warrant that you are authorised to bind that entity to these Terms and you agree
                        to these Terms on behalf of the corporate entity which employs you or which you represent.

                    </p>
                    <p>
                        If you are using the ADCB API Marketplace on your own behalf (where you are acting in your own
                        business capacity) you represent and warrant that you are authorised to enter into these Terms.
                    </p>
                </div>
                <!-- end c-cms-content -->
            </div>
        </div>

        <div class="accordion-item js-acc-item" data-index="1" data-state="collapsed">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>2. Your access and use of the ADCB API Marketplace</span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">
                    <p>To access and use certain parts and functionalities of the ADCB API Marketplace you must register
                        by creating an ADCB developer account with login details (including password).
                    </p>
                    <p>
                        You must protect your password(s), API key, and client ID, login details (“Developer
                        Credentials”) from unauthorised use and keep them strictly confidential and you must not
                        disclose your login details to any other person.
                    </p>
                    <p>
                        If you have any reason to suspect that your Developer Credentials have been in any way compromised, then you must inform us immediately via the method set out below.  You must also inform us immediately if you become aware of, or suspect, any breach of security. 
                    </p>
                    <p>
                        To contact ADCB for these reasons, or for any other reasons, please click the ‘<a
                            href="contact.html">Contact Us</a>’ link set out under the ‘<a
                            href="support.html">Support</a>’ section set out on the ADCB API Marketplace.

                    </p>
                    <p>
                        All activity that occurs through use of your Developer Credentials you are deemed to have authorised all such activity.

                    </p>
                    <p>We are entitled to rely on any action taken under your account without further verification, and
                        hold you fully responsible for each such action.
                    </p>
                    <p>
                        ADCB may in its sole discretion approve or reject your application and registration without
                        providing any reason(s). You must ensure that any information you provide in relation to your
                        application and registration is correct and complete. You are responsible to keep such
                        information up to date and accurate throughout the duration of your application, registration
                        and throughout your use of the ADCB API Marketplace.


                    </p>
                    <p>
                        You are responsible for configuring your information technology systems and software to access
                        the ADCB API Marketplace.
                    </p>
                    <p>
                        You must comply with any instructions that we provide you whether published on the ADCB API
                        Marketplace itself or in email correspondence, alerts and communications sent from time to time.
                        If ADCB determines that your use and access to the ADCB API Marketplace is in excess of ‘fair
                        use’ then it may in its sole discretion immediately suspend and/or terminate your use without
                        notice.
                    </p>
                    <p>
                        Your continued access to the ADCB API Marketplace is determined by us at our discretion.
                    </p>


                </div>
                <!-- end c-cms-content -->
            </div>
        </div>
        <div class="accordion-item js-acc-item" data-index="2" data-state="collapsed">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>3. Ownership of the ADCB API Marketplace</span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">
                    <p>
                        You acknowledge that ADCB or its licensors owns all legal right, title and interest rights in
                        the ADCB API Marketplace.
                    </p>
                    <p>
                        Upon successful registration, ADCB grants you a limited, non-exclusive, non-transferable,
                        revocable and non-sublicensable license to use the ADCB API Marketplace for the term of your
                        registration. This license is for the sole purpose of enabling you to use the functionalities of
                        the ADCB API Marketplace (including the Sandbox) in accordance with these Terms.
                    </p>
                    <p>
                        These Terms do not grant you with any right, title or interest in or to the ADCB brand or
                        trademarks. Any use of the ADCB brand or trademark requires the prior consent of ADCB, in its
                        sole discretion, and is subject to your strict compliance with ADCB’s brand guidelines which are
                        available upon request.
                    </p>
                    <p>
                        You are fully responsible for the development, functioning, maintenance and service of your
                        application. You must comply with and act in accordance with all instructions, documentation,
                        systems, software and other requirements as stated on and/or made available by ADCB in relation
                        to the ADCB API Marketplace. You must comply with all legal requirements and refrain from
                        creating content that is unlawful or otherwise objectionable, or that may harm ADCB’s
                        reputation.

                    </p>
                    <p>
                        ADCB may grant you use of the Sandbox which forms part of the ADCB API Marketplace. You shall
                        not use the Sandbox in connection with any live transaction (whether virtual or real) or any
                        transaction with legal or other real consequences to you or any participant in the transaction.
                    </p>
                    <p>You are responsible for the operation and security of your own systems and you shall not:
                    </p>
                    <ul>
                        <li>
                            Modify, copy, adapt, reverse engineer, distribute, transmit, display, publish, lease, sell,
                            license, create derivative works from or use any content on the ADCB API Marketplace for any
                            other purpose than in accordance with these Terms;
                        </li>
                        <li>
                            Damage, corrupt, introduce viruses including worms, trojan horses, ransomware or other
                            contaminants, and any code which can be used to access, modify, delete or damage any data,
                            files or other computer programs or disrupt and deny services and/or otherwise negatively
                            affect the operation and security of, or attempt unauthorised access to, ADCB’s services or
                            systems; or
                        </li>
                        <li>
                            Use the ADCB API Marketplace for scalability testing or equivalent.
                        </li>
                    </ul>
                    <p>
                        You shall not use part of the ADCB API Marketplace to scrape, build databases or otherwise
                        create copies of any information in order to use such information for any purpose which does not
                        relate to the development of APIs in accordance with these Terms ADCB has the right to change,
                        modify or expand the functionalities, features and services available on the ADCB API
                        Marketplace at any time. Where possible, ADCB will provide prior notice of any such action, but
                        ADCB reserves the right to do so without prior notice. Modifications and changes to the ADCB API
                        Marketplace may affect your use of the ADCB API Marketplace. ADCB will not be liable for any
                        loss or damage resulting therefrom.
                    </p>
                    <p>
                        ADCB has the right to change, modify or expand the functionalities, features and services
                        available on the ADCB API Marketplace at any time. Where possible, ADCB will provide prior
                        notice of any such action, but ADCB reserves the right to do so without prior notice.
                        Modifications and changes to the ADCB API Marketplace may affect your use of the ADCB API
                        Marketplace. ADCB will not be liable for any loss or damage resulting therefrom.
                    </p>

                    <p>
                        API Marketplace may affect your use of the ADCB API Marketplace. ADCB will not be liable for any
                        loss or damage resulting therefrom.
                    </p>

                </div>
                <!-- end c-cms-content -->
            </div>
        </div>
        <div class="accordion-item js-acc-item" data-index="3" data-state="collapsed">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>4. Confidentiality</span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">

                    <p>
                        Our communications to you and the ADCB API Marketplace may contain Confidential Information. You
                        will treat all Confidential Information as strictly confidential and use the same degree of care
                        to prevent disclosure of ADCB’s Confidential Information as you would use with respect to your
                        own most confidential and proprietary information (and no less than to a reasonable standard).
                        You must not disclose ADCB Confidential Information to any third party and you must ensure that
                        any representatives or other persons to whom you are permitted by these Terms to provide access
                        does the same.
                    </p>
                    <p>
                        All ADCB’s Confidential Information is and remains our property, and, except as expressly
                        provided in this Agreement:
                    </p>
                    <ul>
                        <li>
                            no license or other right in any ADCB’s Confidential Information is granted to you, and
                        </li>
                        <li>
                            you may not use or disclose any ADCB’s Confidential Information without our prior written
                            consent.
                        </li>
                    </ul>
                    <p>
                        On termination of this Agreement or on our written request at any time, you will destroy or
                        return to us all ADCB Confidential Information in your custody or control. This provision will
                        survive any termination of this Agreement for so long as you have in your possession any ADCB
                        Confidential Information.
                    </p>
                    <p>
                        Both we and you may disclose or allow disclosure of each other’s Confidential Information:
                    </p>
                    <ul>
                        <li>
                            when disclosure is required by Applicable Law or the rules or order of any court, tribunal
                            or agency of competent jurisdiction;
                        </li>
                        <li>
                            to the extent that each other’s Confidential Information has become publicly available or
                            generally known to the public at the time of the disclosure other than as a result of a
                            breach of these Terms; or
                        </li>
                        <li>
                            if given prior written approval to disclose the Confidential Information.
                        </li>
                    </ul>
                    <p>
                        Both we and you may disclose each other’s Confidential Information to our officers, employees or
                        professional advisers to the extent necessary to enable us to perform or enforce any of our
                        duties or rights under these Terms.
                    </p>
                    <p>
                        The duties in this section shall continue to apply even after these Terms terminate.
                    </p>
                </div>
                <!-- end c-cms-content -->
            </div>
        </div>
        <div class="accordion-item js-acc-item" data-index="4" data-state="collapsed">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>5. Warranties and Representations</span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">
                    <p>You warrant and represent that:</p>
                    <ul>
                        <li>
                            all information you give to us in connection with your access to the ADCB API Marketplace is
                            accurate, correct and up-to-date;
                        </li>
                        <li>
                            you will only access resources available within the ADCB API Marketplace to which you have
                            been granted authorised access; and
                        </li>
                        <li>
                            you will at all times comply with all Applicable Law.
                        </li>
                    </ul>
                    <p>
                        You agree that you will not use the ADCB API Marketplace in a way that:
                    </p>
                    <ul>
                        <li>
                            infringes the Intellectual Property Rights, privacy, confidentiality or any other rights of
                            any third party (or in a manner which otherwise breaches any Applicable Law);
                        </li>
                        <li>
                            introduces a virus, worm, trojan, malware or any other similar software or code into the
                            ADCB API Marketplace;
                        </li>
                        <li>
                            is for the purpose of, or in connection to, improper or illegal activities; or
                        </li>
                        <li>
                            for any reason other than that for which your access was granted.
                        </li>
                    </ul>
                </div>
                <!-- end c-cms-content -->
            </div>
        </div>
        <div class="accordion-item js-acc-item" data-index="5" data-state="collapsed">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>6. Feedback</span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">
                    <p>
                        By submitting feedback, comments, ideas and suggestions in relation to the ADCB API Marketplace,
                        you grant a non-exclusive, perpetual, irrevocable, and royalty-free license to any Intellectual
                        Property Rights you may have in such feedback to ADCB to improve the ADCB API Marketplace or any
                        other products or services. Any such feedback is voluntary and ADCB may consider or is
                        developing products and services that are the same or similar to your feedback.

                    </p>


                </div>
                <!-- end c-cms-content -->
            </div>
        </div>
        <div class="accordion-item js-acc-item" data-index="6" data-state="collapsed">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>7. Personal Data</span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">
                    <p>
                        The ADCB ‘<a href="privacy-policy.html">Privacy Notice</a>’ governs the use of your personal
                        data and the information provided to us by you. By accepting these Terms you also acknowledge
                        that you have read and agreed to the terms of the ADCB ‘<a href="privacy-policy.html">Privacy
                            Notice</a>’, as amended from time to time. You can view the ADCB ‘<a
                            href="privacy-policy.html">Privacy Notice</a>’, and any amendments made to it either via the
                        hyperlink or on the ADCB API Marketplace.

                    </p>


                </div>
                <!-- end c-cms-content -->
            </div>
        </div>
        <div class="accordion-item js-acc-item" data-index="7" data-state="collapsed">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>8. Liability</span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">
                    <p>
                        To the maximum extent permitted by Law, and except as expressly provided for in these Terms
                        access to the ADCB API Marketplace and any content provided through the ADCB API Marketplace is
                        made available to you on an “as is” and “as available” basis and we do not provide any
                        warranties for accuracy of the ADCB API Marketplace or any content.

                    </p>
                    <p>
                        ADCB do not represent that access to the ADCB API Marketplace will be continuously available for
                        use or is without error, inaccuracy or defect and your access to the ADCB API Marketplace is at
                        your sole risk.

                    </p>
                    <p>
                        ADCB disclaims any and all express or implied representations, and warranties of any kind with
                        respect to your access to the ADCB API Marketplace, including but not limited to condition,
                        conformity to any representation or description, compatibility with all equipment and software
                        configurations, existence of any latent or patent defects, negligence, warranties of title,
                        against infringement, and merchantability or fitness for a particular use or purpose.

                    </p>
                    <p>
                        In no event shall we or our third party providers liable for any loss (whether direct or
                        indirect loss and whether based on contract, tort or any other legal basis, even if we have been
                        advised of the possibility of such damages) from your access and/or use of the ADCB API
                        Marketplace and all terms which would otherwise be implied by Applicable Law are excluded.

                    </p>
                    <p>
                        Nothing in these Terms excludes any liabilities to the extent they cannot be excluded under
                        Applicable Law.

                    </p>
                    <p>
                        You will fully indemnify ADCB against any direct, indirect and/or consequential losses, damages,
                        costs and expenses (including legal expenses) incurred by ADCB and arising from or in relation
                        to your use of the ADCB API Marketplace, including any breach of these Terms.

                    </p>

                </div>
                <!-- end c-cms-content -->
            </div>
        </div>
        <div class="accordion-item js-acc-item" data-index="8" data-state="collapsed">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>9. Suspension and/or Termination</span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">
                    <p>ADCB may suspend or terminate your access to the ADCB API Marketplace if you are in breach of any
                        of these Terms, any Restricted API Access terms or your Development and Testing Agreement (if
                        applicable).
                    </p>
                    <p>ADCB may also terminate or suspend your access to the ADCB API Marketplace if in our sole
                        reasonable opinion we have a legitimate concern about your access to the ADCB API Marketplace or
                        conclude that you have suffered a security breach that impacts on the confidentiality or
                        integrity of the ADCB API Marketplace.

                    </p>
                    <p>ADCB may exercise these rights to suspend or terminate immediately, or at any point in our sole
                        discretion, without notice.
                    </p>
                    <p>
                        On termination of these Terms you must (at our election) immediately return to us, destroy or
                        permanently erase all property and materials containing, reflecting, incorporating or based on
                        our Confidential Information or Intellectual Property Rights which is in your possession or
                        under your control. For the avoidance of doubt, you may retain such property and materials for
                        as long as required by Applicable Law and we shall immediately disable your access to the ADCB
                        API Marketplace.

                    </p>
                    <p>On suspension of these Terms we may disable or suspend your access to the ADCB API Marketplace.
                    </p>
                    <p>
                        Suspension and termination of these Terms does not affect any continuing rights and obligations
                        of the parties set out in these Terms.

                    </p>
                </div>
                <!-- end c-cms-content -->
            </div>
        </div>
        <div class="accordion-item js-acc-item" data-index="9" data-state="collapsed">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>10. Other terms</span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">
                    <p>These Terms are subject to change from time to time and in our sole discretion. We will give you
                        notice of these changes by posting an updated version of the Terms on ADCB.com and/or the ADCB
                        API Marketplace site. By continuing to use the ADCB API Marketplace, you agree to be bound by
                        any new Terms we post.
                    </p>
                    <p>In case any provision of these Terms is or becomes illegal, invalid or unenforceable, the
                        legality, validity or enforceability of any other provision will not be affected.
                    </p>
                    <p>If you do not comply with these Terms and ADCB does not take action immediately, this doesn’t
                        mean that ADCB waives any rights.
                    </p>
                    <p>Nothing in these Terms is intended to or shall create a partnership, agency, joint venture or
                        co-owner relationship between ADCB and you. ADCB nor you shall have the authority to act in the
                        name of, act on behalf of or otherwise bind the other party.
                    </p>
                    <p>
                        ADCB may transfer its rights and/or obligations under these Terms to a third party. Your rights
                        and obligations under these Terms cannot be transferred or assigned.
                    </p>
                    <p>These Terms govern the relationship between ADCB and you, and do not create any third party
                        rights.
                    </p>
                    <p>
                        You acknowledge that your breach of these Terms may cause immediate and irreparable harm to us
                        for which we may not have an adequate remedy in damages. We may obtain an injunction against you
                        from a court of competent jurisdiction and recover from you the costs incurred in seeking such
                        an injunction. Our right to obtain injunctive relief does not limit our right to seek or obtain
                        further remedies.

                    </p>
                    <p>The ADCB API Marketplace may, without notice to you, become unavailable at any time due to any
                        planned and/or emergency maintenance as required by ADCB and without liability to you.
                    </p>
                    <p>We are not liable for delay in performing, or failure to perform, any of our obligations under
                        these Terms if such delay or failure result from events, circumstances or causes beyond our
                        reasonable control.
                    </p>
                    <p>These Terms and any non-contractual obligations arising or matters from it or its performance are
                        governed by the feral laws of the United Arab Emirates as applied in the Emirate of Abu Dhabi.
                        The courts of Abu Dhabi shall have exclusive jurisdiction.
                    </p>
                    <p>In the event of conflict between these Terms and:
                    </p>
                    <ul>
                        <li>Development and Testing Agreement entered into with you Terms of Use (if applicable), the
                            Development and Testing Agreement shall prevail;
                        </li>
                        <li>the Privacy Notice, the Privacy Notice shall prevail.
                        </li>
                    </ul>

                </div>
                <!-- end c-cms-content -->
            </div>
        </div>
        <div class="accordion-item js-acc-item" data-index="10" data-state="collapsed">
            <a href="#" class="accordion-item__title js-acc-title icon-add">
                <span>11. Definitions </span>
            </a>
            <div class="accordion-item__content js-acc-content">
                <!-- start c-cms-content -->
                <div class="c-cms-content">
                    <p>In these Terms, the following definitions apply:</p>
                    <p>
                        <b>ADCB API Marketplace</b> means the ADCB application programming interface ("API") Marketplace
                        developer portal (including its Sandbox) and all associated available functionality and tools on
                        the site.
                    </p>
                    <p>
                        <b>ADCB Group</b> means any holding company or subsidiary company of Abu Dhabi Commercial Bank
                        PJSC.
                    </p>

                    <p>
                        <b>API Key</b> means the unique set of credentials assigned to your application once your
                        application request is approved by ADCB.
                    </p>

                    <p>
                        <b>Applicable Law</b> means any national, federal, emirate or local law, statute, regulation,
                        rule, guidance or other official release of or by any relevant government, any authority,
                        department or agency thereof, or any regulatory organization, in any jurisdiction, anywhere in
                        the world.
                    </p>
                    <p>
                        <b>Confidential Information</b> means the ADCB’s processes, programs, testing procedures,
                        software design and architecture, computer code, internal documentation, design and function
                        specifications, product requirements, problem reports, analysis and performance information, and
                        any other information which gives us the opportunity to obtain some competitive business
                        advantage, or the disclosure of which could be detrimental to our interests, or which is: (i)
                        marked “confidential,” “restricted,” “proprietary information,” or other similar marking; (ii)
                        known to be considered confidential and proprietary; (iii) received under circumstances
                        reasonably interpreted as imposing an obligation of confidentiality; or (iv) any confidential
                        transaction data.

                    </p>
                    <p>
                        <b>Development and Testing Agreement</b> means the agreement that we enter into with you in
                        respect of developing and testing the Restricted API’s into production.

                    </p>
                    <p>
                        <b>Intellectual Property Rights</b> means any right, title or interest in patents, trademarks,
                        trade
                        names, goodwill, registered designs, design rights, semiconductor topography rights, database
                        rights, copyrights (including in computer software) and other forms of intellectual or
                        industrial
                        property (in each case in any part of the world), whether or not registered or registrable for
                        their
                        full period of registration with all extensions, renewals and revivals, and including all
                        applications for registration licenses, permissions and consents or otherwise, inventions,
                        formulae,
                        Confidential Information, trade secrets (including know-how or secret processes) and any similar
                        or
                        equivalent rights and assets which may now or in the future subsist anywhere in the world.

                    </p>
                    <p>
                        <b>Restricted API</b> means any API other than an API made available within the ADCB API
                        Marketplace which we have granted you with express authorisation to access on an agreement and
                        terms separate from these Terms.

                    </p>
                    <p>
                        <b>Sandbox</b> means a test environment area, website or portal and related materials,
                        information and resources which we make available to you (which contains dummy data) on the ADCB
                        API Marketplace.
                    </p>
                    <p>
                        <b> you</b> means the person who has entered into these Terms.
                    </p>

                </div>
                <!-- end c-cms-content -->
            </div>
        </div>
    </div>
</div>