/* .center {
    height: 25%;
    background-color: #F3FBFD;
}

.btn-group {
    margin: 0 5%;
}

.btn-group button {
    margin: 20px 50px;
}

.center-content {
    margin: 2%
}

.download {
    float: right;
    background-color: #EC0100;
    margin: 0px;
    width: auto;
    border-radius: 5px;
    padding: 10px 25px;
    color: #ffffff;
} */
